html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
  font-family: Meiryo;
}

.wrapper {
  margin: 0 auto 100px;
  padding: 0 4%;
  max-width: 960px;
  text-align: center;
}

.sec-title {
  border-bottom: 1px solid #383E45;
  color: #383E45;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 60px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 4%;
}

.g-logo {
  height: 40px;
  width: 120px;
  transition: 0.2s;
}

.g-logo:hover,
.g-nav-list li:hover {
  opacity: 0.7;
}

.g-logo img {
  display: block;
  height: auto;
  width: 100%;
}

.g-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g-nav-list {
  display: flex;
}

.g-nav-list li:not(:last-child) {
  margin-right: 33px;
  transition: 0.2s;
}

.g-nav-list li a {
  color: #24292E;
  display: block;
}

/* Main Visual */
.mainvisual {
  margin-bottom: 90px;
}

.mainvisual img {
  object-fit: cover;
  height: 600px;
  width: 100%;
  max-width: 1920px;
}

/* About */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 30px;
}

.profile-txt {
  color: #383E45;
  text-align: left;
}

.profile-txt h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

/* Bicycle */
.content-list {
  display: flex;
  justify-content: space-between;
}

.content-item {
  color: #383E45;
  height: 100%;
  width: 32%;
}

.content-item img {
  margin-bottom: 12px;
  height: 100%;
  width: 100%;
}

.content-item h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* footer */
.footer {
  padding-bottom: 12px;
  text-align: center;
}

.copyright {
  color: #383E45;
  font-size: 0.5rem;
}



@media screen and (max-width: 600px) {

  .g-logo:hover,
  .g-nav-list li:hover {
    opacity: 1;
  }

  .mainvisual img {
    height: calc(100vh - 60px);
  }

  .profile {
    flex-direction: column;
  }

  .profile img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .content-list {
    flex-direction: column;
  }

  .content-item {
    margin-bottom: 30px;
    width: 100%;
  }

  .content-item img {
    margin-bottom: 15px;
  }
}
